<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arunapps.com.sharemusix">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomePage"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".AlbumListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ArtistListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlaylistListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service
            android:name=".PlayMusic"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".StartUpPage"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SlideAndDragListViewActivity1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WiFiDirectActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".FileTransferService"
            android:enabled="true" />

        <activity
            android:name=".WifiDirectHomepage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WifiSongList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".WifiCurrentListener"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>